@import url('@fortawesome/fontawesome-free/css/all.min.css');

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@keyframes bounce-once {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.animate-bounce-once {
  animation: bounce-once 0.3s ease;
}

.datatable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 5px;
  padding: 0;
  border: 1px solid rgba(var(--light), .8) !important;
  box-shadow: rgb(145 158 171 / 51%) 0px 0px 2px 0px, rgb(145 158 171 / 30%) 0px 12px 24px -4px;
}

.datatable.display>tbody>tr.odd {
  background-color: rgba(var(--light), .2);
}

.datatable tbody tr td {
  border: none;
  /* border-top: 1px solid rgba(var(--secondary), .4); */
  color: rgba(var(--dark), 1);
  padding: .9rem;
  font-weight: 500;
  font-size: 17px;
}
.datatable tbody tr:first-child {
  padding-top: 20px;
}
.datatable thead {
  background: rgba(var(--primary), .3);
}
/* .datatable thead {
    background: #403c6d;
} */
.datatable thead tr th:first-child {
  width: auto;
  padding: 15px 25px;
}

.datatable tbody tr td:first-child {
  min-width: 100px;
  padding: 15px 25px;
  text-align: center;
}

.dataTable.display>tbody>tr.odd {
  background-color: rgba(var(--light), .2);
}

table thead th {
  border-bottom: 1px solid rgba(var(--secondary), 0);
  color: rgba(var(--dark), 1);
  font-weight: bold;
  padding: 1rem;
  text-transform: capitalize;
  font-size: 17px;
  white-space: pre;
}

.dataTables_length {
  padding: 1rem 1.25rem;
}

.dataTables_length select {
  color: rgba(var(--secondary), 1);
  font-size: 14px;
  padding: .4rem .75rem;
  border-radius: 3px;
  background-color: #0000;
  border: 1px dotted rgba(var(--secondary), .4) !important;
}

.dataTables_filter {
  padding: 1rem 1.25rem;
}

.dataTables_filter label {
  color: rgba(var(--dark), .8);
  font-weight: 500;
}

.app-datatable-default .dataTables_wrapper .dataTables_filter input {
  padding: .4rem .75rem;
  color: var(--bs-body-color);
  border-radius: 3px;
  background-color: #0000;
  border: 1px dotted rgba(var(--secondary), .4) !important;
}

.dataTables_info {
    color: rgba(var(--dark), .8);
    font-weight: 500;
    font-size: 16px;
}
.previous-btn{
  background-color: rgba(var(--secondary), .1) !important;
    color: rgba(var(--secondary), 1) !important;
    cursor: default;
    border: 1px dashed rgba(var(--dark), .2);
    background: transparent;
    box-shadow: none;
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin: .2rem;
}
.next-btn{
  background-color: rgba(var(--primary), .1) !important;
    background: rgba(var(--primary), .1);
    color: rgba(var(--primary), 1) !important;
    border: 1px solid transparent;
    margin: .2rem;
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
}
.center-num-btn{
  background-color: rgba(var(--primary), 1) !important;
    background: rgba(var(--primary), 1);
    color: rgba(var(--white), 1) !important;
    border: 1px dashed rgba(var(--dark), .2);
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin: .2rem;
    text-align: center;
}